*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


body{
    background-color: rgb(163, 155, 155);
    margin: 0 auto;
}

.header-logo{
    height: 80px;
    background-color: white;
    width: 100%;
    padding: 10px 0 0 30px;
}

.logo{
    vertical-align: middle;

}

h1{
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
}

.container{
    width: 70%;
    background-color: white;
    margin: 20px auto;
    padding-bottom: 10px;
}

.button{
    padding: 20px 40px;
    border-bottom: solid 3px rgb(163, 155, 155);
}

.button-blue{
    padding: 7px;
    color: white;
    background-color: #47ADF1;
    border-radius: 10px;
    border: #47ADF1;
    margin: 5px;
}

.button-light{
    padding: 7px;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    opacity: 0.3;
}

.title::before{
    content: "\25BC";
}


li{
    list-style: none;
    padding: 10px;
    vertical-align: middle;
}

.main-title{
    padding:20px 40px;
}

.circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.true{
    color: green;
    border-color:green;
}

.false{
    color: red;
    border-color:red;  
}

.true::before{
    content: "\2713";
}

.false::before{
    content: "\2717";
}

.span{
    color: white;
    padding: 5px;
    vertical-align: middle;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 700;
}

.new-blue{
    background-color:#47ADF1;
}

.new-purple{
    background-color: #9C72E4;
}

.new-aqua{
    background-color:#64C0A9 ;
}


.new-orange{
    background-color: #F29E33;
}


.new-pink{
    background-color: #D863A1;
}

.new-senape{
    background-color: #B0C926;
}


.span:hover{
    color: rgba(2, 12, 12, 0.3);
}

.button-blue:hover{
    color: rgba(2, 12, 12, 0.3);
}

.button-light:hover{
    color: rgba(2, 12, 12, 0.3);
}




 